<!DOCTYPE html>
<html>
<head>
  <title>Node + Angular</title>
  <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"> -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="/vendor/toastr/toastr.min.css">-->
  <link rel="stylesheet" href="/css/site.css">
</head>

<!--<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/script.js/2.4.0/script.min.js"></script>-->
<script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/vendor/requirejs/require.js" data-main="/app/main"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> MultiVision
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--<li><a href="/">Hem</a></li>-->
        <!--<li><a href="/about">Om</a></li>-->
        <li><a href="#" ui-sref="app.apple">Om</a></li>
        <!--<li><a href="/apple">Äpple</a></li>-->
        <!--<li><a href="/users">Users</a></li>-->
      </ul>
    </div>
  </div>
</div>

<section class="content">
  <!--<div ui-view=""></div>-->
  <ui-view></ui-view>
</section>

<footer class="container text-center">
  <p>&copy; 2014 MultiVision Corp Internation al Ltd.</p>
</footer>

<script>window.mvdata=<%-JSON.stringify(mvdata)%></script>
</body>
</html>
