<!DOCTYPE html>
<html>
<head>
  <title>Node + Angular</title>
  <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"> -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/toastr/toastr.min.css">
  <link rel="stylesheet" href="/css/site.css">
</head>

<script src="/vendor/requirejs/require.js" data-main="/app/main"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> MultiVision</a>
    </div>
    <div class="navbar-collapse collapse" data-ng-controller="mvNavbarCtrl as navbar">
      <ul class="nav navbar-nav" data-ng-repeat="item in navbar.items | orderBy:ordering">
        <li data-ng-class="{active: (navbar.location == item.url)}" ng-cloak>
          <a data-ui-sref="{{item.name}}">{{item.text}}</a>
        </li>
      </ul>
      <div data-ng-include="'/app/account/navbar-login.html'"></div>
    </div>
  </div>
</div>

<section class="content">
  <div data-ui-view=""></div>
</section>

<footer class="container text-center">
  <p>&copy; 2014 MultiVision Corp Internation al Ltd.</p>
</footer>

<script>window.mvdata=<%-JSON.stringify(mvdata)%></script>

</body>
</html>