<!DOCTYPE html>
<html>
<head>
  <title>Node + Angular</title>
  <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"> -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/toastr/toastr.min.css">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body data-ng-app="app">
  <%#def.loadfile('/server/views/index.ejs')%>
</body>
</html>