<div class="container">
  <div class="well">
    <form class="form-horizontal" action="" name="signupForm">
      <fieldset>
        <legend>Ny användare</legend>
        <div class="form-group">
          <label class="col-md-2 control-label" for="email">E-Post</label>
          <div class="col-md-10">
            <input class="form-control" type="email" name="email" placeholder="E-post" ng-model="email" required autofocus />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="password">Lösen</label>
          <div class="col-md-10">
            <input class="form-control" type="password" name="password" placeholder="password" ng-model="password" required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="fname">Förnamn</label>
          <div class="col-md-10">
            <input class="form-control" type="text" name="fname" placeholder="Förnamn" ng-model="fname" required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="lname">Efternamn</label>
          <div class="col-md-10">
            <input class="form-control" type="text" name="lname" placeholder="Efternamn" ng-model="lname" required />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <div class="pull-right">
              <button class="btn btn-primary" ng-click="signup()" ng-disabled="signupForm.$invalid">Registrera</button>
              <a class="btn btn-default" href="/">Avbryt</a>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
